{% extends 'base.html' %}
{% load static %}

{% block title %}Editar Evento{% endblock %}

{% block content %}

<!-- Bloco para inserção do botão de voltar -->
{% block back_button %}
<div class="position-relative">
    <a href="{% url 'listar_eventos' %}" class="btn btn-success">
        <i class="bi bi-arrow-left"></i> Voltar
    </a>
</div>
{% endblock %}

   <div class="container mt-5">
      <div class="row justify-content-center">
         <div class="col-md-8">
            <h1 class="mb-4">Editar Evento</h1>

            <form method="post" enctype="multipart/form-data">
               {% csrf_token %}

               <!-- Campos de edição do evento -->
               <div class="mb-3">
                  <label for="nome_evento" class="form-label">Nome do Evento</label>
                  <input type="text" class="form-control" id="nome_evento" name="nome_evento" value="{{ evento.nome }}">
               </div>

               <div class="mb-3">
                  <label for="descricao_evento" class="form-label">Descrição do Evento</label>
                  <textarea class="form-control" id="descricao_evento" name="descricao_evento">{{ evento.descricao }}</textarea>
               </div>
               
               <div class="mb-3">
                  <label for="data_evento">Data e horário de início:</label>
                  <input type="datetime-local" class="form-control" name="data_evento" id="data_evento" value="{{evento.horario}}">
               </div>

               <div class="form-group mb-3">
                  <label for="nome_evento">Endereço:</label>
                  <input type="text" class="form-control" name="endereco_evento" id="endereco_evento" value="{{evento.localizacao}}">
               </div>

               <!-- Outros campos de edição do evento ... -->

               <button type="submit" class="btn btn-primary">Salvar Alterações</button>
            </form>
         </div>
      </div>
   </div>
{% endblock %}
