{% extends 'base.html' %}
{% load static %}
{% block nav %}
{% endblock %}

{% block content %}
<style>
   body {
      overflow-x: hidden;
      overflow-y: hidden;

   }
   .custom-link {
      color: green;
      display: flex;
      align-items: center;
      font-size: small;
   }

</style>
      <div class="container mt-5">
      <div class="row justify-content-center align-items-start vh-100">
         <div class="col-md-6">
            <div class="mb-4 text-center">
               <img src="{% static 'bora_la/images/logo.png' %}" alt="Logo" style="max-width: 200px; width: 100%;">
            </div>
            <div class="card shadow py-3 px-3">
               <!-- <div class="card-header">Login</div> -->
               <div class="card-body">
                  <h2 class="text-center mb-4">Entrar</h2>
                  <form method="post">
                     {% csrf_token %}

                     <div class="mb-3">
                        <label for="username" class="form-label my-1">Usuário:</label>
                        <div class="input-group">
                           <span class="input-group-text"><i class="bi bi-person"></i></span>
                           <input type="text" class="form-control" id="username" name="username" required>
                           {{form_login.username.errors}}
                        </div>
                     </div>
                     <div class="mb-3">
                        {{form_login.password.errors}}
                        <label for="password" class="form-label my-1">Senha:</label>
                        <div class="input-group">
                           <span class="input-group-text"><i class="bi bi-lock"></i></span>
                           <input type="password" class="form-control" id="password" name="password" required>
                        </div>
                     </div>
                     {% if messages %}
                     <div class="error-message">
                        {% for message in messages %}
                        <ul{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</ul>
                        {% endfor %}
                     </div>
                     {% endif %}
                     <div class="mb-2">
                        <!-- link para abrir o pop-up -->
                        <a href="#" id="forgotPasswordLink"class="custom-link">Esqueceu sua senha?</a>
                        <a href="{% url 'cadastrar_usuario' %}" id="registerLink" class="custom-link">Cadastre-se</a>

                     </div>
                     <div class="modal fade" id="forgotPasswordModal" tabindex="-1" aria-labelledby="forgotPasswordModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                           <div class="modal-content">
                              <div class="modal-header">
                                 <h5 class="modal-title" id="forgotPasswordModalLabel">Esqueceu sua senha?</h5>
                                 <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                 <!-- Conteúdo do pop-up a ser desenvolvido no projeto 2 -->
                                 Conteúdo a ser desenvolvido no projeto 2.
                              </div>
                              <div class="modal-footer">
                                 <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="mb-3 d-grid">
                        <button type="submit" class="btn btn-success btn-block mt-3 fw-bold py-2 shadow-sm">Entrar</button>
                     </div>
                     <hr class="my-4">
                     <!-- Linha reta -->
                     <div class="d-grid">
                        <button type="button" class="btn btn-success btn-block mt-3 fw-bold py-2 shadow-sm">
                           <i class="fa fa-google"></i>
                           <a class="white" href="{% url 'social:begin' 'google-oauth2' %}">
                              Login com Google-teste
                           </a>
                        </button>

                        <button type="button" class="btn btn-outline-secondary btn-block py-2 shadow-sm" data-bs-toggle="modal" data-bs-target="#googleLoginModal">
                        <i class="bi bi-google me-2"></i> Logar com o Google
                        </button>
                        <div class="modal fade" id="googleLoginModal" tabindex="-1" aria-labelledby="googleLoginModalLabel" aria-hidden="true">
                           <div class="modal-dialog">
                              <div class="modal-content">
                                 <div class="modal-header">
                                    <h5 class="modal-title" id="googleLoginModalLabel">teste</h5>

                                 </div>
                                 <div class="modal-body">
                                    <!-- Conteúdo do pop-up a ser desenvolvido no projeto 2 -->
                                    Conteúdo a ser desenvolvido no projeto 2.
                                 </div>
                                 <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                                 </div>
                              </div>
                           </div>
                        </div>
                  </form>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
      <script>
         $(document).ready(function() {
             // Abrir o pop-up ao clicar no link "Esqueceu sua senha?"
             $("#forgotPasswordLink").click(function() {
                 $("#forgotPasswordModal").modal("show");
             });
         });
      </script>
   </body>
</html>
{% endblock %}
