{% extends 'base.html' %}
{% load static %}

{% block title %}Meus Eventos{% endblock %}

<!-- Bloco para inserção do botão de voltar para LISTAGEM -->
{% block home_button %}
<div class="position-relative mx-1">
         <a href="{% url 'listar_eventos' %}" class="btn btn-sm btn-success">
         <i class="bi bi-arrow-left"></i> Voltar
         </a>
      </div>
{% endblock %}

{% block content %}
   <div class="container mt-5">
      <div class="row justify-content-center">
         <div class="col-md-10">
            <h2 class="mb-4">Meus Eventos</h2>

            {% if eventos %}
               <div class="row">
                  {% for evento in eventos %}
                     <div class="col-md-4 mb-4">
                        <div class="card">
                           {% if evento.foto %}
                              <img src="{{ evento.foto.url }}" class="card-img-top" alt="{{ evento.nome }}">
                           {% endif %}
                           <div class="card-body">
                              <h5 class="card-title">{{ evento.nome }}</h5>
                              <p class="card-text">{{ evento.descricao }}</p>
                              <p class="card-text"><strong>Horário:</strong> {{ evento.horario }}</p>
                              <p class="card-text"><strong>Localização:</strong> {{ evento.localizacao }}</p>
                              <p class="card-text"><strong>Preço:</strong> R$ {{ evento.preco }}</p>
                              <!-- Renderização das categorias -->
                              <!-- <p class="card-text"><strong>Categorias:</strong> -->
                                 {% if evento.categorias_id%}
                                    {% for categoria in evento.categorias_id.all %}
                                       <span class="tag">{{ categoria.nome }}</span>
                                    {% endfor %}
                                 {% else %}
                                    <span class="card-text">Nenhuma categoria associada</span>
                                 {% endif %}
                              </p>
                              <!-- Fim da renderização das categorias -->
                              <a href="{% url 'editar_evento' evento.id %}" class="btn btn-success">Editar</a>

                              </div>
                        </div>
                     </div>
                  {% endfor %}
               </div>
            {% else %}
               <p>{{ error_message }}</p>
            {% endif %}
         </div>
      </div>
   </div>
{% endblock %}
